.OptionsFinance{
    margin-top: 3%;
}

.forms{
    width: 70vw;
    margin-top: 6%;
}

.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.button-add{
    margin-top: 3%;
}

